.defly-wallet-connect-modal-pending-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.defly-wallet-connect-modal-pending-message__text {
  max-width: 271px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.26px;
}

.defly-wallet-connect-modal-pending-message__cancel-button {
  display: block;
  width: 100%;
  padding: 14px;
  color: #131313;
  background-color: #ffffff;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.09px;
  font-weight: 500;
}
