@import "../../ui/styles/media-queries";

.defly-wallet-modal-header {
  position: absolute;
  top: -44px;
  right: 0px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &--mobile {

    position: static;

    .defly-wallet-modal-header__close-button {
      width: 24px;
      height: 24px;

      margin: 0;
      padding: 0;

      background: transparent;
      border: unset;
      box-shadow: unset;
    }
  }
}

.defly-wallet-modal-header__brand {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.13px;

  color: #ffffff;
}

.defly-wallet-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 48px;

  padding: 14px;

  border: none;
  border-radius: 12px;
  outline: none;

  cursor: pointer;

  font-family: var(--defly-wallet-modal-font-family);
  font-size: 14px;
}

.defly-wallet-modal-header__close-button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background: #333333;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
  border-radius: 100%;
}

.defly-wallet-modal-header__close-button__close-icon {
  width: 20px;
  height: 20px;
}
