@import "../../../../ui/styles/media-queries";

.defly-wallet-accordion-item {

  &:not(:last-of-type) {
    margin-bottom: 20px;

    .defly-wallet-accordion-panel {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .defly-wallet-accordion-item__content {
    height: 0;
    overflow: hidden;

    color: #696868;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.1px;

    transition: height ease-in 0.2s;
  }

  &--active {

    .defly-wallet-accordion-item__content {
      height: 494px;
      transition: height ease-in 0.2s;
    }

  }
}

.defly-wallet-accordion-toggle {
  position: relative;

  display: flex;
  align-items: center;

  gap: 16px;

  padding: 12px 24px;

  color: #2c3559;
  background-color: #ffffff;

  border: none;
  border-radius: 24px;
  outline: none;

  cursor: pointer;

  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.1px;
  font-weight: 600;

  transition: all ease-in 0.2s;

  &__text,
  &__content-with-label__text {
    color: #6a6a81;
  }
}


.defly-wallet-accordion-toggle__bold-color {
  color: #3c3c49;

  font-weight: 600;
}

.defly-wallet-accordion-toggle__content-with-label {
  display: flex;
  align-items: center;
  gap: 12px;
}

.defly-wallet-accordion-toggle__label {
  padding: 4px 9px;

  color: #00b19e;
  background: rgba(0, 177, 158, 0.08);

  border-radius: 12px;

  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.01px;
}

.defly-wallet-accordion-toggle__button {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;

  background: transparent;
  box-shadow: none;

  outline: none;
  border: none;

  cursor: pointer;
}

@include for-small-screens {
  .defly-wallet-accordion-toggle {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
}
