.defly-wallet-accordion-item {
  background-color: #222222;
  border-radius: 24px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 4px 12px rgba(0, 0, 0, 0.03);

  &:not(:last-of-type) {
    margin-bottom: 20px;

    .defly-wallet-accordion-panel {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #defly-wallet-connect-modal-desktop-mode__qr-code {
      margin-top: -20px;
    }
  }
}

.defly-wallet-accordion-item--active {
  .defly-wallet-accordion-panel {
    height: 364px;
    border-radius: 0 0 24px 24px;
    transition: height ease-in 0.2s;
  }

  .defly-wallet-accordion-button {
    padding: 28px 24px 12px;
    border-radius: 24px 24px 0 0;
    transition: all ease-in 0.2s;
  }

  .defly-wallet-accordion-icon {
    transform: rotate(90deg);
  }
}
