@use "../defly-wallet-modal" as *;

.defly-wallet-sign-txn-modal.defly-wallet-modal {
  .defly-wallet-modal__body {
    width: 480px;
    height: 578px;

    background-image: unset;

    padding: 0;

    .defly-wallet-sign-txn-modal__body__content {
      width: 100%;
      height: 100%;
    }

    #defly-wallet-iframe {
      width: 100%;
      height: 100%;

      border-radius: 16px;

      margin: 0 auto;

      border: none;
    }
  }
}
