.defly-wallet-accordion-panel {
  height: 0;
  overflow: hidden;
  color: #999999;
  background-color: #222222;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.04px;
  transition: height ease-in 0.2s;
}
