.defly-wallet-accordion-copy-button {
  display: block;
  width: 100%;
  color: #696868;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.1px;
  font-weight: 400;
  transition: all ease-in 0.2s;

  &:hover {
    color: #999999;
  }
}
