.defly-wallet-accordion-copy-button {
  display: block;
  width: 100%;
  color: #b2b2b2;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.1px;
  font-weight: 600;
  transition: all ease-in 0.2s;

  &:hover {
    color: #999999;
  }
}
