@import "../../../ui/styles/media-queries";

.defly-wallet-connect-modal-information-section {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.defly-wallet-connect-modal-information-section__defly-icon {
  margin-bottom: 32px;
}

.defly-wallet-connect-modal-information-section__title {
  margin-bottom: 0;
  color: #fff;
  font-size: 52px;
  line-height: 48px;
  font-weight: 900;
  white-space: pre-line;
  text-align: center;
  letter-spacing: 0;
  font-family: var(--defly-wallet-connect-modal-headline-family), sans-serif;
}

@include for-small-screens {

  .defly-wallet-connect-modal-information-section__title {
    font-size: 34px;
    line-height: 32px;
  }


  .defly-wallet-connect-modal-information-section__defly-icon {
    max-width: 70px;
    margin-bottom: 21px;
  }

}
